<ion-view view-title="Menu of the day">
    <ion-content>
        <ion-list>
            <div ng-if="menuItems.length === 0">
                <h4 class="title"> No items in Menu..
            </div>
            <ion-item class="list card" ng-repeat="items in menuItems | filter: sortby" ng-init="dish = items.dishes">
              <div class="item item-avatar">
                  <img src="{{baseURL}}uploads/profile/logo.png">
                  <h2>{{dish.name}}</h2>
                  <h4>By chef {{dish.chef.firstname}}</h4>
                 
              </div>
              <div class="item item-body">
                  <a href="#/app/managedishes/{{dish._id}}"> 
                    <img class="full-image" src="{{baseURL+dish.image}}">
                  </a>
                <p>
                  {{dish.description}}
                </p>
                <span class="badge badge-assertive">{{dish.price|currency}}</span>
                <div class="button-bar">
                    <a class="button button-small icon-left ion-android-remove-circle button-balanced" ng-click="removeFromMenu(items._id)">Menu</a>
                    
                    <a class="button button-small icon-left ion-edit button-calm">Edit </a>
                    <a class="button button-small icon-left icon ion-star button-energized" href="#/app/managedishes/{{dish._id}}">More</a>
                </div>
                
              </div>
            </ion-item>
                 
      </ion-list>
  </ion-content>
</ion-view>
